.floor-plan {
    width: 500px;
    height: 500px;
    //background: url('/2D-floor-plan-with-room-color.jpg') no-repeat center center;
    background-size: cover;
    // border: 2px solid #CCC;
    position: relative;
    margin: 20px auto;
  }
