.navbar {
  h1{
    font-size: 24px;
    color: #2892a7;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 20px;
  }

  li{
    margin: 0;
    padding: 0;
  }
}

.request-chore-button{
  border-radius: 50%;
  border: 50px solid #2892a7;
  background-color: #2892a7 !important;
  color: #2892a7;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.request-chore-button:hover {
  background-color: #114b56 !important;
  color: white !important;
}




